*.png filter=lfs diff=lfs merge=lfs -text
images/144.jpg filter=lfs diff=lfs merge=lfs -text
images/ProudovyMotor.png filter=lfs diff=lfs merge=lfs -text
images/TJ100Vykres.png filter=lfs diff=lfs merge=lfs -text
images/tepelneMotoryObecneTatra.png filter=lfs diff=lfs merge=lfs -text
images/pist.png filter=lfs diff=lfs merge=lfs -text
images/1.9TDI1.png filter=lfs diff=lfs merge=lfs -text
images/1.9TDI2.png filter=lfs diff=lfs merge=lfs -text
images/1.9TDI3.png filter=lfs diff=lfs merge=lfs -text
images/1.9TDImodelMaterialy.png filter=lfs diff=lfs merge=lfs -text
images/DoosanSkodaPowerMTD50.png filter=lfs diff=lfs merge=lfs -text
images/aim-9-sidewinder.png filter=lfs diff=lfs merge=lfs -text
images/1.9TDI4.png filter=lfs diff=lfs merge=lfs -text
images/CFM56vykres2.png filter=lfs diff=lfs merge=lfs -text
images/ParniTurbinaRender.png filter=lfs diff=lfs merge=lfs -text
images/Skoda1000MBPredek.jpg filter=lfs diff=lfs merge=lfs -text
images/tatra813_1.png filter=lfs diff=lfs merge=lfs -text
images/tatra813_6.png filter=lfs diff=lfs merge=lfs -text
images/CFM56vykres1.jpg filter=lfs diff=lfs merge=lfs -text
images/1.9TDILongitudinalSection.png filter=lfs diff=lfs merge=lfs -text
images/NodeUkazka.png filter=lfs diff=lfs merge=lfs -text
images/RaketaReseni.png filter=lfs diff=lfs merge=lfs -text
images/Skoda1000MBBok.jpg filter=lfs diff=lfs merge=lfs -text
images/pistBok.png filter=lfs diff=lfs merge=lfs -text
images/ParniStrojRender.png filter=lfs diff=lfs merge=lfs -text
images/RocketdyneJ2vykres.png filter=lfs diff=lfs merge=lfs -text
images/Soucastky.png filter=lfs diff=lfs merge=lfs -text
images/cary.png filter=lfs diff=lfs merge=lfs -text
images/motor175.jpg filter=lfs diff=lfs merge=lfs -text
images/tatra813_5.png filter=lfs diff=lfs merge=lfs -text
images/1.9TDICrossSection.png filter=lfs diff=lfs merge=lfs -text
images/Raketa.png filter=lfs diff=lfs merge=lfs -text
images/1.9TDImodelUkazka.png filter=lfs diff=lfs merge=lfs -text
images/geometryNodeUkazka.png filter=lfs diff=lfs merge=lfs -text
images/logo.png filter=lfs diff=lfs merge=lfs -text
*mp4 filter=lfs diff=lfs merge=lfs -text
*gif filter=lfs diff=lfs merge=lfs -text
