.DS_Store
SOČ_Tepelné_motory/assets

SOČ_Tepelné_motory/main.bbl-SAVE-ERROR
SOČ_Tepelné_motory/main.bbl

SOČ_Tepelné_motory/main.pdf
SOČ_Tepelné_motory/main.aux
SOČ_Tepelné_motory/main.log
SOČ_Tepelné_motory/main.out
SOČ_Tepelné_motory/synctex.gz
SOČ_Tepelné_motory/main.toc